/* APP */
.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

/* FORMS AND CONTAINERS */
form, #review-container, #submit-success-container {
  border: 2px solid #033076;
  box-shadow: 5px 5px 10px 2px rgb(51, 47, 78);
  margin: 10em auto;
  max-width: 35em;
  overflow: auto;
  padding: 1em;
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin: 2em;
  min-width: 6em;
  padding: 0.5em;
}

button {
  background-color: #2f63b7;
  border-radius: 5px;;
  color: white;
  margin: 2em auto;
  padding: 0.5em;
}